@charset "UTF-8";
/* reset 
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*/

/* ヘッダー */
.navbar-right {
	display: flex;
	justify-content: flex-end;
}

/* mainの見た目整える */
main {
	background-color: #FFEFD5;
}

/* swiperの見た目整える まだサイズ感調整しきれてない*/
.swiper-wrapper {
	width: 100%;
	height: 500px;
}

.swiper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* アコーディオン */
.accordion-button {
	background-color: #FFC7AF;
}

.accordion-collapse {
	background-color: #FFEFD5;
}


/* フェードイン */
.fadein {
	opacity: 0;
	transform : translate(0, 10px);
	transition : all 1500ms;
	margin-top: 2em;
  }

.fadein.scrollin {
	opacity: 1;
	transform: translate(0, 0);
}

.menue-image img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.adress {
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
}

.shop-info {
	text-align: center;
}

.shop-image img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width: 670px){
	/* 店舗一覧を表示しない */
	#shop-information {
		display: none;
	}
}


/* footerの見た目整える */
.footer-container p {
	list-style-type: none;
	font-size: 1em;
	padding: 0.5em;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: darkgray;
	width: 100%;
    height: 120px;
}
